.pages {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 12px;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.pages button {
  position: relative;
  padding: 0 10px;
  border: 0;
  background: transparent;
  color: var(--dsw-alias-label-secondary);
  font: inherit;
  cursor: pointer;
}

.pages button[aria-selected='true'] {
  color: var(--dsw-alias-label-primary);
  font-weight: 500;
}

.pages button[aria-selected='true']::after {
  position: absolute;
  right: 8px;
  bottom: 0;
  left: 8px;
  height: 2px;
  background: var(--dsw-alias-label-primary);
  content: '';
}
